#order {
  width: 60%;
}

#deliveryOptions {
  display: none;
}

#receipt {
  display: none;
}

ul {
  list-style: none;
}

#formcontainer {
  border: solid;
}

#deliveryChoice {
  border: solid;
  margin: 0px 0px 15px 30px;
}

#deliveryChoice button{
  margin: 5px;
  /*background-color: pink;*/
}
